body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
    background-color: orange; 
}
header {
    text-align: center; 
}
#main-title {
    font-size: 24px; 
    color: black; 
}
.content {
    margin-bottom: 12px; 
}

/* I got kind of lost on this part so I used google
/*https://developer.mozilla.org/en-US/docs/Web/HTML/Element/center